.gamePage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.playersArea {
  border: 1px solid black;
  grid-area: 1 / 1 / 12 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  div {
    border: 1px solid blue;
    border-radius: 50%;
    width: 100%;
    max-width: 120px;
    aspect-ratio: 1/1;
  }
}

.playerHand {
  border: 1px solid black;
  grid-area: 9 / 2 / 12 / 12;
  display: flex;
  .tiles {
    border-right: 1px solid red;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
  }
  .actionButtons {
    height: 100%;
    width: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 0.5rem;
  }
}

.gameBoard {
  border: 1px solid black;
  grid-area: 1 / 2 / 9 / 12;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 5px;
  div {
    border: 1px solid black;
  }
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}
