.gamePage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.playersArea {
  border: 1px solid black;
  grid-area: 1 / 1 / 12 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  div {
    border: 1px solid blue;
    border-radius: 50%;
    width: 100%;
    max-width: 120px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.playerHand {
  border: 1px solid black;
  grid-area: 9 / 2 / 12 / 12;
  display: flex;
  background-color: #3a5ce4;
  .tiles {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
  }
  .actionButtons {
    height: 100%;
    width: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 0.5rem;
    .buttonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 100%;
        height: 100%;
        max-height: 50px;
        max-width: 100px;
      }
    }
  }
}

.gameBoard {
  border: 1px solid black;
  grid-area: 1 / 2 / 9 / 12;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 5px;
  background-color: #3a5ce4;
  div {
    // box-shadow: 0 0 3px black;
  }
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9e3d1;
  border-radius: 10px;
  span {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px gray;
  }
}
