.link {
	color: #000;
	text-decoration: none;
	transition: all 0.3s;
	font-weight: bolder;
	font-size: 0.7rem;
}
.link:hover {
	text-decoration: underline;
}

.loginFormContainer {
	width: auto;
	height: 100vh;
	padding: 0.5rem 0;
}

.loginMain {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

@media (min-width: 640px) {
	.loginMain {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}

@media (min-width: 1024px) {
	.loginMain {
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

.logoBox {
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: center;
}

.formTitle {
	color: #000;
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
}

.noAccountText {
	margin-top: 0.5rem;
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: rgb(75 85 99);
}

.loginForm {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	label {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 500;
		color: #111827;
	}
	input {
		display: flex;
		height: 2.5rem;
		width: 100%;
		border-radius: 0.375rem;
		border: 1px solid #d1d5db;
		background: transparent;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		font-size: 0.875rem;
		color: #6b7280;
		border-color: #d1d5db;
		outline: none;
		border-width: 1px;
		border-style: solid;
		border-color: #6b7280;
		opacity: 0.5;
	}
	button {
		display: inline-flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		border-radius: 0.375rem;
		background-color: #000;
		padding-left: 0.875rem;
		padding-right: 0.875rem;
		padding-top: 0.625rem;
		padding-bottom: 0.625rem;
		font-weight: 600;
		line-height: 1.75rem;
		color: #fff;
	}
}

.socialLoginBox {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	margin-top: 1rem;
	button {
		position: relative;
		display: inline-flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		border-radius: 0.375rem;
		border: 1px solid #cbd5e0;
		background-color: #fff;
		padding-left: 0.875rem;
		padding-right: 0.875rem;
		padding-top: 0.625rem;
		padding-bottom: 0.625rem;
		font-weight: 600;
		color: #4a5568;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}

	button:hover {
		background-color: #f3f4f6;
	}

	button:hover {
		color: #000;
	}

	button:focus {
		background-color: #f3f4f6;
	}

	button:focus {
		color: #000;
		outline: none;
	}
}

@media (min-width: 1280px) {
	.loginFormContainer {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 24rem;
	}
}

@media (min-width: 1536px) {
	.loginFormContainer {
		max-width: 28rem;
	}
}
